.card-container {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 212, 255, 0.75);
  border: 1px solid rgba(61, 5, 93, 0.85);
  border-radius: 1rem;
  padding: 1rem;
  cursor: pointer;
  -moz-osx-font-smoothing: greyscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

.card-container:hover {
  transform: scale(1.05);
}

.card-container > p {
  word-break: break-word;
  hyphens: auto;
}
