body {
  background: rgb(61, 5, 93);
  background: linear-gradient(
    90deg,
    rgba(61, 5, 93, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
}

.title {
  font-size: 3rem;
  text-align: center;
  font-family: fantasy, cursive;
}

.loading {
  text-align: center;
}
